@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand';
}

/* index.css */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(30,30,30);
    color: white;

}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
/* Navbar */
.navbar{
    background-color:rgb(165, 42, 42);
    width: 98.4%;
    padding: 10px;
}

.navbar-button{
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    color: white;
    background-color: rgb(165, 42, 42);
    border: none;
    border-radius: 20px;
    transition-duration: 0.2s;
}
.navbar-button:hover{
    background-color:rgb(125, 31, 31);
    cursor: pointer;
}

/* Heading */
.heading{
    margin: 25px auto 25px auto;
    font-size: 36px;
    text-align: center;
}

/* Home */
.error, data{
    text-align: center;
}

.home-page-search{
    display: block;
    width: fit-content;
    margin: 5px auto 5px auto;
}

.home-page-search-input, .home-page-submit, .test-query{
    margin: auto;
    width: fit-content;
    min-height: 20px;
}

.home-page-search-input{
    font-size: 16px;
    border: black 2px inset;
    border-radius: 15px;
    padding: 5px;
}

.home-page-submit{
    font-size: 16px;
    padding: 15px;
    border: black 2px solid;
    border-radius: 20px;
    background-color: white;
    margin-left: 5px;
}

.home-page-submit:hover{
    background-color: lightgrey;
    cursor: pointer;

}

.get-started{
    font-size: 24px;
    display: grid;
    margin: auto;
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: rgb(165, 42, 42);
    transition-duration: 0.2s;
}

.get-started:hover{
    cursor: pointer;
    background-color: rgb(125, 31, 31);
}

/* About Page */
.member-container{
    display: grid;
    border: white 1px solid;
    border-radius: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 25px auto 75px auto;
    width: 75%
}

.member{
    display: block;
    padding: 10px;
    margin: 10px;
    transition-duration: 0.1s;
    border-radius: 50px;
}
.member:hover{
    background-color: rgb(45, 45, 45);
    cursor: pointer;
}

.member-photo{
    margin: 10px auto 10px auto;
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    outline: white solid 2px;
}

.member-title{
    text-align: center;
}

/* Weekly Schedule + Study Plan */
.weekly-schedule{
    margin: 25px auto 75px auto;
    border: rgb(165, 42, 42) solid 2px;
}

.weekly-schedule-title{
    margin-top: 50px;
    font-size: 24px;
    text-align: center;
}

.weekly-schedule_entry-heading, .weekly-schedule_entry{
    text-align: center;
    padding: 15px;
    border: rgb(165, 42, 42) solid 1px;
}

.weekly-schedule_entry-heading{
    background-color: rgb(165, 42, 42);
}

/* Individual Member Pages*/

.info-container{
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
    width: 50%;
}

.info-photo{
    margin: 20px auto 20px auto;
    display: block;
    width: 25%;
    outline: black solid 3px;
}

.info-text{
    white-space: pre-line;
    max-width: 75%;
    margin: 10px auto 10px auto;
    text-align: center;
    
}

/* Selection Pages */
.next-button{
    display: grid;
    padding: 15px;
    margin: 20px auto 20px auto;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: rgb(165, 42, 42);
    transition-duration: 0.2s;
}

.next-button:hover{
    cursor: pointer;
    background-color: rgb(125, 31, 31);
}

.test{
    text-align: center;
}

/* Select Genre */
.genre-button-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 50%;
    margin: auto;
    border: 1px white solid;
    border-radius: 30px;
    padding: 10px;
}

.genre-button-off, .genre-button-on{
    transition-duration: 0.2s;
    padding: 20px 10px 20px 10px;
    font-size: 20px;
    border-radius: 30px;
    margin: 5px;
}

.genre-button-off{
    background-color: rgb(30,30,30);
}

.genre-button-off:hover{
    background-color: rgb(45, 45, 45);
    cursor: pointer;

}

.genre-button-on{
    background-color: rgb(45, 45, 45);
}

.genre-button-on:hover{
    background-color: rgb(60, 60, 60);
    cursor: pointer;

}

.genre-button-checkbox{
    display: none;
    opacity: 0;
    width: 0px;
    height: 0px;
}

.genre-button-text{
    margin: auto;
    color: white;
    text-align: center;
}

/* Select Year */
.year-button-container, .runtime-button-container, .age-button-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 60%;
    margin: auto;
    border: 1px white solid;
    border-radius: 30px;
    padding: 20px;
}

.year-button-on, .year-button-off, .runtime-button-on, .runtime-button-off, .age-button-on, .age-button-off{
    transition-duration: 0.2s;
    padding: 50px 10px 50px 10px;
    font-size: 20px;
    border-radius: 30px;
    margin: 5px;
}

.year-button-checkbox, .runtime-button-checkbox, .age-button-checkbox{
    display: none;
    opacity: 0;
    width: 0px;
    height: 0px;
}

.year-button-off, .runtime-button-off, .age-button-off{
    background-color: rgb(30,30,30);
}

.year-button-off:hover, .runtime-button-off:hover, .age-button-off:hover{
    background-color: rgb(45,45,45);
    cursor: pointer;

}

.year-button-on, .runtime-button-on, .age-button-on{
    background-color: rgb(45,45,45);
}

.year-button-on:hover, .runtime-button-on:hover, .age-button-on:hover{
    background-color: rgb(60,60,60);
    cursor: pointer;
}

.year-button-text, .runtime-button-text, .age-button-text{
    margin: auto;
    color: white;
    text-align: center;
}

.year-button-desc-text, .runtime-button-desc-text, .age-button-desc-text{
    font-size: 16px;
    text-align: center;
}