@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Quicksand';
}

:root {
  --theme: rgb(196,30,58);
  --theme-hover: rgb(120, 20, 37);
  --background: rgb(30,30,30);
}

/* index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
/* Navbar */
.navbar {
  background-color: var(--theme);
  width: 100%;
  padding: 0.75rem 0rem 0.75rem 0rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}

.navbar-button{
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
  color: white;
  background-color: var(--theme);
  border: none;
  border-radius: 50px;
  transition-duration: 0.2s;
}
.navbar-button:hover{
  background-color:var(--theme-hover);
  cursor: pointer;
}

#about{
  float: right;
}

/* Heading */
.heading {
  margin: 2rem auto 2rem auto;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
  text-shadow: 0px 0px 1px rgba(255, 0, 0, 1);
}

.heading-2 {
  margin: 2rem auto 2rem auto;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0px 0px 2px rgb(120 120 120);
}

/* Home */
.get-started{
  font-size: 1.5rem;
  display: grid;
  margin: auto;
  padding: 0.5em 1em 0.5em 1em;
  border: none;
  color: white;
  background-color: var(--theme);
  transition-duration: 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 185px;
}

.get-started:hover{
  cursor: pointer;
  background-color: var(--theme-hover);
}

.home-page-container{
  display: flex;
  margin: auto;
  width: fit-content;
  gap: 2.5em;
}

/*.LoginTicket, .RegisterTicket {
  box-sizing: border-box;
  position: relative;
  width: 432px;
  height: 720px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.LoginTicket {
  left: 436px;
  top: 293px;

}

.RegisterTicket {
  left: 1052px;
  top: 293px;

}
*/
/* About Page */
.member-container{
  display: grid;
  border: white 1px solid;
  border-radius: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1em auto 1em auto;
  width: 75%;
}

.member{
  display: block;
  padding: 1em;
  margin: 1em;
  transition-duration: 0.1s;
  border-radius: 25px;
}
.member:hover{
  background-color: rgb(45, 45, 45);
  cursor: pointer;
}

.member-photo{
  margin: 1em auto 1em auto;
  display: block;
  width: 7.5em;
  height: 7.5em;
  object-fit: cover;
  outline: white solid 1px;
}

.member-title{
  text-align: center;
}

/* Weekly Schedule + Study Plan */
.weekly-schedule{
  margin: 0 auto 5em auto;
  border: rgb(196,30,58) solid 2px;
}

.weekly-schedule-title{
  margin-top: 2em;
  font-size: 1.5rem;
  text-align: center;
}

.weekly-schedule_entry-heading, .weekly-schedule_entry{
  text-align: center;
  padding: 1em;
  border: rgb(196,30,58) solid 1px;
}   
  
.weekly-schedule_entry-heading{
  background-color: var(--theme);
}

/* Individual Member Pages*/
.info-container{
  display: flex;
  flex-direction: column;
  margin: 1em auto 1em auto;
  width: 50%;
}

.info-photo{
  margin: 1em auto 1em auto;
  display: block;
  width: 25%;
  outline: black solid 3px;
}

.info-text{
  white-space: pre-line;
  width: 75%;
  margin: 1em auto 1em auto;
  text-align: center;
}

/* Selection Pages */
.next-button {
  display: block;
  margin: 20px auto 20px auto;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1em;
  text-align: center;
  color: white;
  border: none;
  background-color: var(--theme);
  transition-duration: 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 185px;
}

.next-button:hover{
  cursor: pointer;
  background-color: var(--theme-hover);
}

.generate-button{
  display: grid;
  padding: 0.5em 2em 0.5em 2em;
  margin: 1em auto 1em auto;
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: var(--theme);
  transition-duration: 0.2s;
}

.generate-button:hover{
  cursor: pointer;
  background-color: var(--theme-hover);
}

.test{
  text-align: center;
}

/* Select Genre */
.genre-button-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 75%;
  margin: auto;
  border: 1px white solid;
  border-radius: 50px;
  padding: 1em;
}

.genre-button-off, .genre-button-on {
  transition-duration: 0.2s;
  padding: 1em 2em 1em 2em;
  font-size: 1.5rem;
  border: 1px solid white;
  margin: 0.25em;
  background: linear-gradient(rgb(255 255 255), rgb(255 255 255)) padding-box,
            linear-gradient(rgba(255, 0, 0, 1), rgba(255, 215, 0, 1)) border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 90px;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: transparent;
}

.genre-button-off{
  background-color: rgb(30,30,30);
}

.genre-button-off:hover{
  background-color: rgb(45, 45, 45);
  cursor: pointer;

}

.genre-button-on{
  background-color: rgb(45, 45, 45);
}

.genre-button-on:hover{
  background-color: rgb(60, 60, 60);
  cursor: pointer;
}

.genre-button-checkbox{
  display: none;
}

.genre-button-text {
  font-size: 1.5rem;
  margin: auto;
  color: black;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

/* Select Year */
.year-button-container, .runtime-button-container, .age-button-container {
  display: flex;
  width: 1440px;
  height: 800px;
  margin: auto;
  border: 1px white solid;
  border-radius: 25px;
  padding: 1em;
  justify-content: space-between;
  align-content: space-around;
}

.movie-film-reel {
    display: block;
    margin: auto;
    width: 1080px;
    height: 240px;
    border: 1px solid #000000;
}

.movie-film-reel-2 {
    display: grid;
    position: absolute;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

.movie-film-reel-clips-top, .movie-film-reel-clips-bottom {
  position: absolute;
  width: 1040px;
  display: flex;
  height: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  gap: 2px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  justify-items: end;
}

.movie-film-reel-clips-top {
  height: 15px;
  left: 22px;
  top: 5px;
}

.movie-film-reel-clips-bottom {
  height: 15px;
  left: 22px;
  top: 215px;
}

.movie-individual-clips {
  display: block;
  position: relative;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
  width: 20px;
  height: 15px;
  background: linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, #000000, #000000), #000000;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 0px 0px 0px 0px;
}


.year-button-on, .year-button-off, .runtime-button-on, .runtime-button-off, .age-button-on, .age-button-off {
  transition-duration: 0.2s;
  display: grid;
  font-size: 1.5rem;
  margin: 1em auto;
  width: 180px;
  height: 180px;
  align-content: center;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.year-button-checkbox, .runtime-button-checkbox, .age-button-checkbox{
  display: none;
  opacity: 0;
  width: 0px;
  height: 0px;
}

.year-button-off, .runtime-button-off, .age-button-off{
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, rgb(150 150 150 / 50%) 100%);
  background-blend-mode: multiply;
}

.year-button-off:hover, .runtime-button-off:hover, .age-button-off:hover{
  background-color: rgb(45,45,45);
  cursor: pointer;

}

.year-button-on, .runtime-button-on, .age-button-on{
  background-color: rgb(45,45,45);
}

.year-button-on:hover, .runtime-button-on:hover, .age-button-on:hover{
  background-color: rgb(60,60,60);
  cursor: pointer;
}

.year-button-text, .age-button-text {
  margin: auto;
  color: white;
  text-align: center;
}


.year-button-desc-text, .age-button-desc-text{
  font-size: 0.75em;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

.runtime-button-text, .runtime-button-desc-text {
  margin: auto;
  color: #000000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.runtime-button-desc-text {
  font-size: 0.75em;
}


/*1st button*/
.year-button-text {
    background: linear-gradient(180deg, #AAAAAA 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 54px;
    text-align: center;
}

/*Select Runtime*/
.runtime-timeline-background {
  width: 1280px;
  height: 0px;
  margin: auto;
}

.runtime-timeline-image {
  display: flex;
  box-sizing: border-box;
  max-width: 1080px;
  height: 0px;
  margin: auto;
  left: calc(50% - 1280px/2);
  top: calc(50% - 0px/2);
  background: #FFF4F4;
  border: 10px solid #FDFDFD;
  box-shadow: 1px 1px 3px #FF0000;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}

.runtime-timeline-lines {
  width: 72.01px;
  height: 0px;
  border: 5px solid #F5F5F5;
  transform: rotate(-90deg);
}

.runtime-timeline-image>*:first-child, .runtime-timeline-image>*:nth-child(3), .runtime-timeline-image>*:nth-child(5){
  position: relative;
  bottom: calc(50% - 0px/2 + 50px);
}

.runtime-timeline-image>*:nth-child(2), .runtime-timeline-image>*:nth-child(4){
  position: relative;
  top: calc(50% - 0px/2 + 50px);
}

.runtime-timeline-background>*:nth-child(2) {
    position: relative;
    width: 350px;
    height: 175px;
    left: calc(50% - 350px/2 - 950px);
    top: calc(50% - 175px/2 - 210px);
    background: linear-gradient(180deg, #FFFFFF 0%, #D2B48C 100%);
    border: 1px solid #FFFDFD;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.runtime-timeline-background>*:nth-child(3) {
    position: relative;
    width: 350px;
    height: 175px;
    left: calc(50% - 350px/2 + -710px);
    bottom: calc(50% - 175px/2 + 235px);
    background: linear-gradient(180deg, #FFFDFD 0%, #ffea7b 100%);
    border: 1px solid #FFFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.runtime-timeline-background>*:nth-child(4) {
    position: relative;
    width: 350px;
    height: 175px;
    left: calc(50% - 350px/2 - 460px);
    top: calc(50% - 175px/2 - 613px);
    background: linear-gradient(180deg, #FFFDFD 0%, #FFE452 100%);
    border: 1px solid #FFFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.runtime-timeline-background>*:nth-child(5) {
    position: relative;
    width: 350px;
    height: 175px;
    left: calc(50% - 350px/2 + -217px);
    bottom: calc(50% - 175px/2 + 636px);
    background: linear-gradient(180deg, #FFF2AE 0%, #FFFF44 100%);
    border: 1px solid #FFFDFD;
    border-radius: 50px;
}

.runtime-timeline-background>*:nth-child(6) {
    position: relative;
    width: 350px;
    height: 175px;
    left: calc(50% - 350px/2 + 25px);
    top: calc(50% - 175px/2 - 1016px);
    background: linear-gradient(180deg, #FFFFB9 0%, #FFD700 100%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

/* My List */
.error{
  margin: 1em auto 1em auto;
  text-align: center;
}

.movie-container{
  display: flex;
  margin: 1em auto 1em auto;
  padding: 0.5em;
  border: 1px white solid;
  border-radius: 25px;
  width: 50%;
}

.movie-title{
  font-size: 2em;
  margin: 0.5em 0em 0.5em 0em;
  padding: 0em 0.5em 0em 0.5em;
}
.movie-desc{
  padding: 0em 1em 0em 1em;
  display: inline;
}

.movie-genre{
  display: inline;
}

.movie-stats{
  display: inline;

}

.movie-rating-container{
  display: flex;
  flex-direction: column;
  margin: 1em 1em 1em auto;
}

.like-off, .dislike-off, .like-on, .dislike-on{
  transition-duration: 0.2s;
  border-radius: 25px;
  margin: 0.25em;
  padding: 0.5em;
}

.like-off:hover {
  background-color: rgb(100, 150, 181);
  cursor: pointer;
}

.dislike-off:hover {
  background-color: rgb(181, 99, 99);
  cursor: pointer;
}

.like-on{
  background-color: rgb(135, 206, 250);
}

.dislike-on{
  background-color: rgb(240, 128, 128);
}

.movie-remove{
  transition-duration: 0.2s;
  border-radius: 25px;
  margin: 0.25em;
  padding: 0.5em;
}

.movie-remove:hover{
  background-color: rgb(181, 99, 99);
  cursor: pointer;
}

.movie-rating-checkbox{
  margin: auto;
  display: none;
}

/* Signup/Login CSS */
.Login_Container, .SignUp_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  padding: 2em 1em 2em 1em;
  max-width: 20%;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: inset 0px 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(255 255 255 / 90%), rgb(150 150 150 / 90%)) padding-box,
              linear-gradient( rgb(255 255 255 / 80%), rgb(255 215 0 / 90%)) border-box;
  border-width: 2px 4px 5px 4px;
  border-style: solid;
  border-color: transparent;
}

/*.LoginTicket, .RegisterTicket {
  box-sizing: border-box;
  position: relative;
  width: 432px;
  height: 720px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.LoginTicket {
  left: 436px;
  top: 293px;

}

.RegisterTicket {
  left: 1052px;
  top: 293px;

}
*/

.Login_Username, .SignUp_Username, .Login_Password, .SignUp_Password, .SignUp_ConfirmPassword, .SignUp_Email {
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  color: #000000;
}

.LoginRegisterInputFields {
  font-size: 1.5rem;
  width: 75%;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.Login_Button, .SignUp_Button {
  border-radius: 25px;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1em;
  text-align: center;
  color: white;
  border: none;
  background-color: var(--theme);
  transition-duration: 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 185px;
}

.Login_Button:hover, .SignUp_Button:hover{
  background-color: var(--theme-hover);
  cursor: pointer;
}

.ErrorMessage {
  text-align: center;
  max-height: 20px;
  padding: 0.25em;
  margin: 0.25em;
  color: red;
  font-size: 1em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

