@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand';
}

/* index.css */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
  
/* Navbar */
.navbar{
    width: 100%;
    padding: 2px;
    background-color:dodgerblue;
}

.navbar-button{
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    margin: 1px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}
.navbar-button:hover{
    background-color: lightgrey;
}
/* Heading */
.heading{
    margin: 20px auto 20px auto;
    width: 50%;
    text-align: center;
}

/* About Page */
.member-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px auto 20px auto;
    width: 75%
}

.member{
    display: block;
    margin: 20px;
}
.member:hover{
    box-shadow: 1px 1px 3px black;
}

.member-photo{
    margin: 10px auto 10px auto;
    display: block;
    /*width: 200px;*/
    height: 200px;
    object-fit: cover;
    outline: black solid 3px;
}

.member-title{
    text-align: center;
}

/* Weekly Schedule + Study Plan */
.weekly-schedule{
    margin: 10px auto 10px auto;
    border: dodgerblue solid 1px;
}

.weekly-schedule-title{
    margin-top: 50px;
    text-align: center;
}

th{
    text-align: center;
    border: dodgerblue solid 1px;
    background-color: skyblue;
    padding: 0px 10px 0px 10px;
}

td{
    text-align: center;
    border: dodgerblue solid 1px;
    padding: 20px;
}

/* Individual Member Pages*/

.info-container{
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
    width: 50%;
}

.info-photo{
    margin: 20px auto 20px auto;
    display: block;
    width: 25%;
    outline: black solid 3px;
}

.info-text{

    max-width: 75%;
    margin: 10px auto 10px auto;
    text-align: center;
    
}